@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Mr+Dafoe&display=swap');
body {
  font-family: 'Montserrat', sans-serif !important;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.navbar-expand-lg .navbar-nav {
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid #575555;
}

.posini {
  width: auto;
  display: flex;
  justify-content: center;
}


.nav-bar {
  width: 100%;
  top: 0;
  position: flex;
  text-align: center;
  margin-bottom: 1%;
}

.nav-tittle {
  text-align: center;
  font-weight: bold;
  width: 94%;
  margin: auto;
  padding: 1%;
}

.navelement {
  margin: 2%;
  color: black;
  display: flex;
  justify-content: space-around;
  position: relative;
  text-decoration: none;
}

.logo {
  display: block ruby;
}

.logo p {
  display: flex;
  font-family: 'Comfortaa', cursive;
  font-weight: 400px;
  font-size: 22px;
}

.navelementact {
  margin: 2%;
  color: black;
  display: flex;
  position: relative;
  justify-content: space-around;
  text-decoration: 2px underline wavy #ffab4b;
  ;


}

.footer-tittle {
  text-align: center;
  flex-grow: 1;
  color: #575555;
}


/* form */
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  padding: 2%;
}

.form-group {
  margin: 2%;
  display: flex;
  padding: 2%;
}

.form-control {
  width: 100%;
  margin: 1%;
}

.form-control ::selection {
  color: rgb(12, 12, 134);
}

.btn-send {
  background-color: #18A0FB;
  color: #fff;
  border-radius: 6px;
  width: 25%;
  margin: 1%;
}

.imc {
  background-color: #b2b1b1;
  align-items: center;
  text-align: center;
  border-radius: 18px;
  width: 20%;
}



/* Estilos móvil/celular */
@media all and (max-width: 700px) {

  /* Oculta el nav en la parte izquiera */
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;
    transform: translateX(-100vw);
    transition: 0.5s;
  }

  /* Muestra el nav */
  .nav--show {
    transform: translateX(0);
  }

  .nav__button {
    text-align: right;
    margin: 1rem;
  }

  .nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav__link {
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: black;
  }
}

/* Estilos Escritorio */
@media all and (min-width: 701px) {

  /* Oculta botón de abrir o cerrar */
  .nav__button,
  .header__button-nav--open {
    display: none;
  }

  /* Adapta el nav en horizontal */
  .nav__ul {
    display: flex;
    list-style: none;
    padding: 0;
  }

  .nav__link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
    transition: 0.5s;
  }

  .nav__link:hover {
    opacity: 0.5;
  }
}

/*toDo */
.todoContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.todoCreateForm {
  background-color: #a1e28b6e;
  display: flex;
  flex-direction: column;
}

.todoInput {
  background-color: #78d3f77b;
}

.todoUpdateForm {
  background-color: #f5f5f0;
}

.todoInfo {
  display: flex;
  align-items: center;
}

.tarea {
  font-family: 'Indie Flower', cursive;
  display: flex;
  flex: 1 1 0;
  color:#317f96;
  font-size: xx-large;
  font-weight: 300;
}

.button {
  border-radius: 12px;
  background-color: rgb(190, 255, 159);
  color: rgb(0, 0, 0);
  padding: 1%;
}

.buttonCreate {
  background-color: #250657d1;
  border-radius: 2px;
  color: #fff;
}

.buttonUpdate {
  background-color: #062557d1;
  border-radius: 2px;
  color: #fff;

}

.buttonEdit {
  background-color: #065716d1;
  border-radius: 2px;
  color: #fff;
}

.buttonDelete {
  background-color: #ea134cd1;
  border-radius: 2px;
  color: #fff;
}

.toDoCabecera {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
}

.toDoCabecera h1 {
  font-family: 'Mr Dafoe', cursive;
  flex: 1 1 auto;
  display: flex;
  margin: auto;
  font-size: 3em;
  color: #442f6c;
}

.toDoCabecera img {
  flex: 2 1 auto;
}

.todoContainerTarea{
  background-image: url("../public/img/papel.jpg");
}

.todo {
  padding: 0 12%;
}